mixin link-button(title, href)
  a.button&attributes(attributes)(href=href)= title

mixin border-section(title)
  .border-section&attributes(attributes)
    h2.border-section__text= title
    .border-section__border

mixin rectangle
  .rectangle&attributes(attributes)
    .rectangle__row
      p.rectangle__title 350+
      span.rectangle__subtitle Project Completed
    .rectangle__row
      p.rectangle__title 23+
      span.rectangle__subtitle Professional Teams
    .rectangle__row
      p.rectangle__title 15+
      span.rectangle__subtitle Years Experience

mixin card-avatar(src, title, subtitle)
  .card-avatar&attributes(attributes)
    img.card-avatar__image(src=src alt=title)
    p.card-avatar__title= title
    span.card-avatar__subtitle= subtitle

mixin page-title(title, subtitle, extraClass)
  .title-page
    h1.title-page__title= title
    p.title-page__subtitle(class!=extraClass)= subtitle

mixin page-title-banner(title, subtitle, src, extraClass)
  .title-page
    h1.title-page__title= title
    p.title-page__subtitle(class!=extraClass)= subtitle
    img.title-page__image(src=src alt=title)

mixin section-title(title, subtitle, extraClass)
  p.title-section__title= title
  span.title-section__subtitle(class!=extraClass)= subtitle