mixin svg(name)
  svg(data-svg=name)&attributes(attributes)
    use(xlink:href=`./img/sprites/sprite.svg#${name}`)

mixin menu(title, url)
  li.menu
    a.menu__item&attributes(attributes)(href=url)= title

mixin link-button(title, href)
  a.button&attributes(attributes)(href=href)= title

mixin border-section(title)
  .border-section&attributes(attributes)
    h2.border-section__text= title
    .border-section__border

mixin rectangle
  .rectangle&attributes(attributes)
    .rectangle__row
      p.rectangle__title 350+
      span.rectangle__subtitle Project Completed
    .rectangle__row
      p.rectangle__title 23+
      span.rectangle__subtitle Professional Teams
    .rectangle__row
      p.rectangle__title 15+
      span.rectangle__subtitle Years Experience

mixin card-avatar(src, title, subtitle)
  .card-avatar&attributes(attributes)
    img.card-avatar__image(src=src alt=title)
    p.card-avatar__title= title
    span.card-avatar__subtitle= subtitle

mixin page-heading(title, subtitle, extraClass)
  .page-heading
    h1.page-heading__title= title
    p.page-heading__subtitle(class!=extraClass)= subtitle

mixin page-banner(title, subtitle, src, extraClass)
  .page-heading
    h1.page-heading__title= title
    p.page-heading__subtitle(class!=extraClass)= subtitle
    img.page-heading__image(src=src alt=title)

mixin heading(title, subtitle, extraClass)
  .heading
    p.heading__title= title
    span.heading__subtitle(class!=extraClass)= subtitle