mixin link-button(extraClass, title, href='#')
  a.button(class!=extraClass)(href=href)= title

mixin border-section(title, extraClass)
  .border-section(class!=extraClass)
    h2.border-section__text= title
    .border-section__border

mixin rectangle(extraClass)
  .rectangle(class!=extraClass)
    .rectangle__row
      p.rectangle__title 350+
      span.rectangle__subtitle Project Completed
    .rectangle__row
      p.rectangle__title 23+
      span.rectangle__subtitle Professional Teams
    .rectangle__row
      p.rectangle__title 15+
      span.rectangle__subtitle Years Experience

mixin card-avatar(src, title, subtitle, extraClass)
  .card-avatar(class!=extraClass)
    img.card-avatar__image(src=src alt=title)
    p.card-avatar__title= title
    span.card-avatar__subtitle= subtitle

mixin page-title(title, subtitle)
  .title-page
    h1.title-page__title= title
    p.subtitle= subtitle

mixin page-title-banner(title, subtitle, src, extraClass)
  .title-page
    h1.title-page__title= title
    p.title-page__subtitle(class!=extraClass)= subtitle
    img.title-page__image(src=src alt=title)

mixin section-title(title, subtitle, extraClass)
  p.title-section__title= title
  span.title-section__subtitle(class!=extraClass)= subtitle