mixin link-button(extraClass, title, href='#')
  a.button(class!=extraClass)(href=href)= title

mixin border-section(title, extraClass)
  .border-section(class!=extraClass)
    h2.border-section__text= title
    .border-section__border

mixin rectangle(extraClass)
  .rectangle(class!=extraClass)
    .rectangle__row
      p.rectangle__title 350+
      span.rectangle__subtitle Project Completed
    .rectangle__row
      p.rectangle__title 23+
      span.rectangle__subtitle Professional Teams
    .rectangle__row
      p.rectangle__title 15+
      span.rectangle__subtitle Years Experience

mixin card-avatar(src, title, subtitle, extraClass)
  .card-avatar(class!=extraClass)
    img.card-avatar__image(src=src alt=title)
    p.card-avatar__title= title
    span.card-avatar__subtitle= subtitle

mixin title(title, subtitle)
  .page-title
    h1.page-title__title= title
    p.page-title__subtitle= subtitle

mixin title-banner(title, subtitle, src, extraClass)
  section.title-section(class!=extraClass)
    .page-title
      h1.page-title__title= title
      p.page-title__subtitle= subtitle
      img.page-title__image(src=src alt=title)

mixin title-banner-about(title, subtitle, src, extraClass)
  section.title-section(class!=extraClass)
    .page-title
      h1.page-title__title= title
      p.page-title__subtitle.page-title__subtitle_about= subtitle
      img.page-title__image.page-title__image_about(src=src alt=title)